.displaynone {
	display: none !important;
}

li {
	list-style: none;
}

html {
	overflow-x: hidden;
}

body {
	background: #FFF;
	font-size-adjust: auto;
	overflow-y: scroll;
}

#header {
	position: fixed;
	width: 100%;
	padding: 0 20px;
	z-index: 99;
	text-transform: uppercase;
	height: 0;
}

#header .logo {
	text-align: center;
	margin: 50px auto;
	cursor: pointer;
}

.logo a {
	line-height: 37px;
}

.logo a:hover {
	color: #ed111d !important;
}

.logo svg {
	font-family: 'Satoshi', sans-serif;
	height: 16px;
	display: block !important;
	text-align: center;
  	margin: auto;
	font-size: 12px;
	font-weight: 900;
}

.logo svg:hover {
	fill: #ed111d !important;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	z-index: 99;
	text-transform: uppercase;
	padding: 0 0px;
	display: block;
}

.menu .logo {
	text-align: center;
  	display: block;
	margin: 50px auto;
	cursor: pointer;
	width: 125px;
}

.menu .header {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
}

.menu .nav {
	font-weight: 700;
	margin: 175px 0;
	font-size: 14px;
	letter-spacing: -0.02em;
	font-family: 'Satoshi', 'Noto Sans KR', sans-serif;
}

.menu .nav ul {
	float: left;
	padding: 0 20px;
	margin: 0 40px 83px;
	line-height: 18px;
  	text-decoration: none;
}

.menu .nav a {
	margin: 0 0 0px;
	display: inline-block;
	height: 12px;
	padding: 2px;
}

.menu .nav ul.nav-categories {
	clear: both;
	margin-left: 20%;
}

.lang-button {
	color: blue;
	text-decoration: underline 2.5px rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
}

.lang-button:hover {
	text-decoration-color: blue;
}

.charity {
	display: inline-block;
	color: rgb(244, 0, 0);
	text-decoration: underline 2.5px rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
}

.charity:hover {
	text-decoration-color: rgb(244, 0, 0);
}


.basic {
	color: black;
	text-decoration: underline 2.5px rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
}

.basic:hover {
	text-decoration-color: black;
}

.projects {
	color: rgb(179, 0, 255);
	text-decoration: underline 2.5px rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
}

.projects:hover {
	text-decoration-color: rgb(179, 0, 255);;
}

.contact {
	color: blue;
	text-decoration: underline 2.5px rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
}

.contact:hover {
	text-decoration-color: blue;
}

.music {
	color: rgb(4, 217, 92);
	text-decoration: underline 2.5px rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
}

.music:hover {
	text-decoration-color: rgb(4, 217, 92);
}

.feed {
	color: rgb(255, 221, 0);
	text-decoration: underline 2.5px rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
}

.feed:hover {
	text-decoration-color: rgb(255, 221, 0);
}

.in-progress {
	animation: blinker 0.75s step-start infinite;
}


@keyframes blinker {
	50% {
		opacity: 0;
	}
}