.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	transition: ease 0.5s;
	opacity: 0;
	z-index: -1;
	text-transform: uppercase;
	padding: 0 40px;
}

.menu .logo {
	width: 120px;
	text-align: center;
	margin: 50px auto;
	font-weight: 600;
	font-size: 22px;
	cursor: pointer;
}

.menu * {
	color: #000 !important;
}

.menu .header {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
}

.menu .footer {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
}

.menu .footer .logo svg:hover {
	fill: #0000fe !important;
}

.menu .nav {
	font-weight: 500;
	margin: 175px 0;
	font-size: 14px;
}

.menu .nav ul {
	width: 20%;
	float: left;
	padding: 0 20px;
	margin: 0 0 83px;
	line-height: 18px;
}

.menu .nav a {
	border-bottom: 2px solid transparent;
	margin: 0 0 0px;
	display: inline-block;
	height: 13px;
}

.fw700 {
	font-weight: 700;
}

.menu .nav a:hover {
	border-bottom: 2px solid #000;
}

.menu .nav ul.nav-account {
	position: absolute;
	right: 0;
}

.menu .nav ul.nav-categories {
	clear: both;
	margin-left: 20%;
}

.menu .nav ul.nav-brands {
	position: relative;
}

.menu .nav ul.nav-add {
	margin-left: 40%;
	clear: both;
}

.menu .nav ul.nav-add li {
	float: left;
	margin-right: 12px;
}

.menu .nav ul li.nav-title {
	margin: 0 0 22px;
}

.menu .nav .cate-sale {
	color: red;
}

.menu .nav .cate-sale:hover {
	border-color: red;
}

.menu .nav ul li.nav-search input {
	border: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 500;
	background: transparent;
	font-size: 14px;
	text-transform: none;
}

.menu .nav ul li.nav-search input::placeholder,
.menu .nav ul li.nav-search input::-moz-input-placeholder {
	color: #000;
	font-weight: 500;
}